.left-side {
    background-color: #fffaf2;
}
.right-side {
    background-color: #fff;
}
.text-color-title {
    color: #ff9f0a;
}
.title-weight {
    font-weight: 600;
}
.content-title-weight {
    font-weight: 700;
}
.text-color-content {
    color: #858484;
}
.title-size {
    font-size: 18px;
    padding-top: 10px;
}
.content-size {
    font-size: 14px;
}
.content-size2 {
    font-size: 16px;
}
/*Img*/
img {
    width: 150px;
    height: 150px;
}
.boder-img {
    border: 1px solid #ff9f0a;
}
.content-spacing {
    padding: 10px;
}
.div-border {
    border-bottom: 2.5px solid #ffe8c4;
}
.item-padding {
    padding-bottom: 10px;
}
.date {
    font-style: italic;
    float: right;
}
.cv-border {
    border: 2px solid black;
}
body {
    background-color: #5e5e63;
}
