#div1{
    width: 500px;
    background-color: aquamarine;
}
#div2 {
    scale: 90%;
    background-color: white;
}
h2  {
    background-color: red;
    text-align: center;
    color:white;
    font-weight: 100;
}
table {
    width: 90%;
    margin: auto;
    background-color: white;
}
.blueLabel {
    color: blue;
    text-align: right;
}
.oranLabel {
    color: orange;
}
