#table-1, tr, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}
th {
    background-color: yellow;
}
#h2-2 {
    text-align: center;
}
#table-2 {
    margin: auto;
    border-collapse: collapse;
}
.item {
    border: 0;
}
.item2 {
    border: 0;
    text-align: right;
}
.item, .item2 {
    color: blue;
}
.item3 {
    border: 1px solid black;
}
.item4 {
    background-color: orange;
}