body {
    display: flex;
    flex-direction: column;
}
h2 {
    margin-bottom: 20px;
    font-weight: bold;
}
div {
    text-align: center;
}
#add_product_container, #search_product_container {
    width: 40%;
    padding: 20px;
    background-color: #F0F0F0;
}
#AddNewProduct, #search_Product{
    width: 70%;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.Btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10%;
}
#product_label_container {
    height: 10%;
}
#product_label_container{
    width: 70%;
}
span {
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}
#product_name_label {
    float: left;
}
#number_of_product {
    float: right;
    color: #CF6F6F;
}

/*Content table*/
#product_board, #Search_row {
    width: 70%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, tr, td {
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #F0F0F0;
}
#recommend {
    background-color: white;
    width: 80%;
    padding: 5px;
    margin: auto;
    display: none;
}
.Recommend_Option {
    border: 1px solid black;
}